:root {
  --text-color: rgb(219, 59, 198);
  --bg-size: 25%;
}

html {
  size: 100%;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-box {
  width: 200px;
  height: 200px;
  background-color: #59e959;
  border: 10px dotted violet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-clip: content-box;
}

.box:hover {
  background-color: mintcream;
  border: dotted black;
}

.box1 {
  background-color: red;
  padding: 2px;
}

.box2 {
  background-color: violet;
  border: black dashed 4px;
}

.box3 {
  background-color: gray;
  margin: 10px;
}

.box4 {
  background-color: blue;
}

.container {
  width: 100vw;
  height: 100vh;
  /* background-image: url(https://media.istockphoto.com/photos/black-and-white-doggy-tile-pattern-repeat-background-picture-id490428980?s=612x612);
  background-size: contain;
  background-repeat: repeat;
  background-position: center; */

  background: url(https://media.istockphoto.com/photos/black-and-white-doggy-tile-pattern-repeat-background-picture-id490428980?s=612x612)
    round center;
  background-size: var(--bg-size);
}
