:root {
  --text-color: rgb(219, 59, 198);
  --bg-size: 25%;
}

html {
  size: 100%;
  background-color: aquamarine;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-box {
  width: 200px;
  height: 200px;
  background-color: #59e959;
  border: 10px dotted violet;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-clip: content-box;
}

.box:hover {
  background-color: mintcream;
  border: dotted black;
}

.box1 {
  background-color: red;
  width: 200px;
  height: 200px;
  position: relative;
  right: 0px;
}

.box2 {
  background-color: rgba(250, 135, 212, 0.7);
  border: black dashed 4px;
  position: absolute;
  width: unset;
  height: unset;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 50%;
}

.box3 {
  background-color: gray;
  margin: 10px;
}

.box4 {
  background-color: rgba(0, 0, 255, 0.5);
  position: fixed;
  width: unset;
  left: 100px;
  right: 100px;
}

.container {
  background-color: bisque;
  position: relative;
  width: 70vw;
  height: 10000px;
  left: 50px;
  top: 50px;
}
