:root {
  --text-color: rgb(219, 59, 198);
}

html {
  size: 100%;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-box {
  width: 100px;
  height: 100px;
  background-color: #59e959;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10%;
  box-sizing: border-box;
}

.box:hover {
  background-color: mintcream;
  border: dotted black;
}

.box1 {
  background-color: red;
  padding: 2px;
}

.box2 {
  background-color: violet;
  border: black dashed 4px;
}

.box3 {
  background-color: gray;
  margin: 10px;
}

.box4 {
  background-color: blue;
}
